
  #logo {
            position: absolute; 
            left: 0%;  
            transform: translateX(0%);  
        }
  #logo2 {
            position: absolute; 
            left:  100%;  
            transform: translateX(-100%);  
        }
        #puzzle15 {
            display: grid;
            grid-template-columns: repeat(4, 150px);
            grid-template-rows: repeat(4, 150px);
            background-color: rgb(182, 189, 187);
            position: relative;
            
        }
        .tile {
            width: 150px;
            height: 150px;
            background-image: url('chapters/games/15/img/4.jpg');
            background-size: 600px 600px;
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid #ccc;
            transition: transform 0.3s ease;
            position: absolute;
        }
        .empty {
            background-color: #fff;
            visibility: hidden;
        }
